{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :init-ns      net.wikipunk.mop.init
          :ns-prefix    "net.wikipunk.rdf."
          :boot         [net.wikipunk.abulafia.boot/agentrole
                         net.wikipunk.abulafia.boot/classification
                         net.wikipunk.abulafia.boot/cpannotationschema
                         #_net.wikipunk.abulafia.boot/hyperreal
                         #_net.wikipunk.abulafia.boot/ili
                         net.wikipunk.abulafia.boot/informationrealization
                         net.wikipunk.abulafia.boot/objectrole
                         net.wikipunk.abulafia.boot/semiotics
                         net.wikipunk.abulafia.boot/simulation
                         net.wikipunk.abulafia.boot/situation]}
 :openai {:sc/create-fn net.wikipunk.openai/map->Client}}
